.features1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.features1-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.features1-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.features1-logo {
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.features1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.features1-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.features1-nav1 {
  transition: 0.3s;
}
.features1-nav1:hover {
  color: #3d6e70ff;
}
.features1-text:hover {
  color: #3d6e70ff;
}
.features1-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.features1-nav2:hover {
  color: #3d6e70ff;
}
.features1-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.features1-nav3:hover {
  color: #3d6e70ff;
}
.features1-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.features1-nav4:hover {
  color: #3d6e70ff;
}
.features1-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features1-nav5:hover {
  color: #3d6e70ff;
}
.features1-text02:hover {
  color: #3d6e70ff;
}
.features1-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features1-login {
  display: none;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}
.features1-register {
  color: var(--dl-color-gray-white);
  display: none;
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.features1-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.features1-burger-menu {
  display: none;
}
.features1-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.features1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 401px;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.features1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.features1-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.features1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features1-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.features1-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.features1-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features1-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.features1-nav21 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features1-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.features1-nav31 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.features1-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.features1-nav51 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features1-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.features1-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features1-login1 {
  display: none;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.features1-register1 {
  color: var(--dl-color-gray-white);
  display: none;
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.features1-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.features1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.features1-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-primary1-blue80);
}
.features1-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.features1-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.features1-hero-heading {
  color: var(--dl-color-gray-white);
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.features1-hero-sub-heading {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.features1-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.features1-hero-button1 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1.5rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  background-color: var(--dl-color-primary1-blue100);
}
.features1-hero-button1:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.features1-hero-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.features1-hero-button2:hover {
  border-color: var(--dl-color-gray-white);
}
.features1-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.features1-text12 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.features1-image {
  width: 97px;
  height: 98px;
  object-fit: cover;
}
.features1-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.features1-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.features1-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.features1-logo2 {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
}
.features1-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.features1-nav12 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
}
.features1-nav22 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.features1-nav32 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.features1-nav42 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.features1-nav52 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.features1-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.features1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features1-text19 {
  color: var(--dl-color-secondary-gray500);
}
.features1-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features1-link3 {
  display: contents;
}
.features1-icon10 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features1-link4 {
  display: contents;
}
.features1-icon12 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features1-link5 {
  display: contents;
}
.features1-icon14 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .features1-desktop-menu {
    display: none;
  }
  .features1-burger-menu {
    display: flex;
  }
  .features1-mobile-menu {
    height: 389px;
  }
  .features1-logo1 {
    font-size: 2em;
    font-weight: bold;
  }
  .features1-text04 {
    text-decoration: inherit;
  }
  .features1-nav11 {
    color: var(--dl-color-gray-black);
  }
  .features1-nav21 {
    color: var(--dl-color-gray-black);
  }
  .features1-text08 {
    text-decoration: inherit;
  }
  .features1-nav31 {
    color: var(--dl-color-gray-black);
  }
  .features1-nav51 {
    color: var(--dl-color-gray-black);
  }
  .features1-text10 {
    text-decoration: inherit;
  }
  .features1-login1 {
    display: none;
  }
  .features1-register1 {
    display: none;
  }
  .features1-hero1 {
    flex-direction: column;
  }
  .features1-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .features1-hero-heading {
    text-align: center;
  }
  .features1-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .features1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features1-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .features1-mobile-menu {
    height: 348px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features1-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-text06 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-text10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-login1 {
    display: none;
  }
  .features1-register1 {
    display: none;
  }
  .features1-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features1-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .features1-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features1-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features1-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .features1-text19 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .features1-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .features1-logo {
    text-transform: uppercase;
  }
  .features1-mobile-menu {
    height: 371px;
    padding: 16px;
    padding-bottom: 34px;
  }
  .features1-logo1 {
    text-transform: uppercase;
  }
  .features1-text04 {
    text-transform: uppercase;
  }
  .features1-icon02 {
    fill: var(--dl-color-gray-900);
  }
  .features1-nav11 {
    color: var(--dl-color-gray-black);
  }
  .features1-text06 {
    color: var(--dl-color-gray-black);
  }
  .features1-login1 {
    display: none;
  }
  .features1-register1 {
    display: none;
  }
  .features1-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .features1-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .features1-btn-group {
    flex-direction: column;
  }
  .features1-hero-button2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .features1-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .features1-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .features1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features1-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .features1-text19 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
