.features11-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.features11-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.features11-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.features11-logo {
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.features11-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.features11-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features11-login {
  display: none;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}
.features11-register {
  color: var(--dl-color-gray-white);
  display: none;
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.features11-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.features11-burger-menu {
  display: none;
}
.features11-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.features11-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 401px;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.features11-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features11-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.features11-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.features11-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features11-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.features11-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.features11-nav1 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features11-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.features11-nav2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features11-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.features11-nav3 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.features11-nav4 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.features11-nav5 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features11-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.features11-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features11-login1 {
  display: none;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.features11-register1 {
  color: var(--dl-color-gray-white);
  display: none;
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.features11-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.features11-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features11-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features11-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.features11-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-primary1-blue80);
}
.features11-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.features11-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.features11-hero-heading {
  color: var(--dl-color-gray-white);
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.features11-hero-sub-heading {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.features11-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.features11-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.features11-text08 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.features11-link3 {
  display: contents;
}
.features11-image {
  width: 1127px;
  height: 1409px;
  object-fit: cover;
  text-decoration: none;
}
.features11-link4 {
  display: contents;
}
.features11-image1 {
  width: 1127px;
  height: 1426px;
  object-fit: cover;
  text-decoration: none;
}
.features11-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.features11-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.features11-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.features11-logo2 {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
}
.features11-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.features11-nav11 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
}
.features11-nav21 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.features11-nav31 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.features11-nav41 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.features11-nav51 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.features11-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.features11-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features11-text15 {
  color: var(--dl-color-secondary-gray500);
}
.features11-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features11-link5 {
  display: contents;
}
.features11-icon10 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features11-link6 {
  display: contents;
}
.features11-icon12 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.features11-link7 {
  display: contents;
}
.features11-icon14 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .features11-desktop-menu {
    display: none;
  }
  .features11-burger-menu {
    display: flex;
  }
  .features11-mobile-menu {
    height: 389px;
  }
  .features11-logo1 {
    font-size: 2em;
    font-weight: bold;
  }
  .features11-text {
    text-decoration: inherit;
  }
  .features11-nav1 {
    color: var(--dl-color-gray-black);
  }
  .features11-nav2 {
    color: var(--dl-color-gray-black);
  }
  .features11-text04 {
    text-decoration: inherit;
  }
  .features11-nav3 {
    color: var(--dl-color-gray-black);
  }
  .features11-nav5 {
    color: var(--dl-color-gray-black);
  }
  .features11-text06 {
    text-decoration: inherit;
  }
  .features11-login1 {
    display: none;
  }
  .features11-register1 {
    display: none;
  }
  .features11-hero1 {
    flex-direction: column;
  }
  .features11-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .features11-hero-heading {
    text-align: center;
  }
  .features11-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .features11-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features11-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .features11-mobile-menu {
    height: 348px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features11-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-login1 {
    display: none;
  }
  .features11-register1 {
    display: none;
  }
  .features11-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features11-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .features11-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features11-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features11-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features11-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .features11-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .features11-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .features11-logo {
    text-transform: uppercase;
  }
  .features11-mobile-menu {
    height: 371px;
    padding: 16px;
    padding-bottom: 34px;
  }
  .features11-logo1 {
    text-transform: uppercase;
  }
  .features11-text {
    text-transform: uppercase;
  }
  .features11-icon02 {
    fill: var(--dl-color-gray-900);
  }
  .features11-nav1 {
    color: var(--dl-color-gray-black);
  }
  .features11-text02 {
    color: var(--dl-color-gray-black);
  }
  .features11-login1 {
    display: none;
  }
  .features11-register1 {
    display: none;
  }
  .features11-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .features11-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .features11-btn-group {
    flex-direction: column;
  }
  .features11-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .features11-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .features11-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features11-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .features11-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
